.container{
    border-style: dotted;
    border-color: blue;
    margin: 0 auto;
    background-color: antiquewhite ;
    padding-left: 5%;
}
style{
    border-block: 5px;
    border-block-color: blue;
    border-block-end-style: double ;

}